<%= form_for([@question, @question.answers.build], remote: true) do |f| %>
  <p>
    <%= f.label :title, 'Title:' %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content, 'Content:' %><br>
    <%= f.text_field :content %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
